node_modules
.node
.pnpm-store
.pnpm-state
.turbo
.next
out
dist
build
coverage
.env
.env.*
.DS_Store
.idea
.vscode
*.log
*.tmp
*.tsbuildinfo
.mypy_cache
.pyc
__pycache__
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
