name: mobile_teacher
version: 0.0.0
publish_to: "none"
description: Flutter app for teachers and therapists. Placeholder.
environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
